.About {
	font-family: 'Open-Sans'; 
	line-height: 1.25; 
	margin: 0 0 10px; 
	padding: 0px;
	font-size: 25px; 
	text-align: center;
}

#personal-description {
	font-family: 'Aventir Next';
}

.Circle {
	border-radius: 50%;
}

.Name {
	font-family: 'Enriqueta'; 
	line-height: 1.25; 
	margin: 0 0 10px; 
	font-size: 40px; 
	font-weight: bold;
	text-align: center;
}

.Central {
	display: inline-block;
	text-align: left;
}

hr {
	padding-top: 10px;
	padding-bottom: 10px;
}

#Company_with_Logo {
	display: flex;
}

.Logo {
	width: 350px;
	height: 130px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: rgba(0,0,0,0.57) -10px 10px 17px 0px;
	border-radius: 7%;
	background-color: #ffffff
}

.Intern-Description {
	display: inline;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	color: grey;
}

.Internships {	
	padding-left: 70px;	
	padding-right: 70px;	
}

.Description_bullet_points {	
	display: flex;	
	flex-direction: column;	
	text-align: left;	
	padding-left: 15px;	
}